@model Slider
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Genre Edit</h1>
        </div>
        <div class="col-lg-8 mx-auto">
            <form method="post" asp-action="edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title1">Title1</label>
                    <input class="form-control" asp-for="Title1" placeholder="Enter Slider Title1">
                    <span class="text-danger" asp-validation-for="Title1"></span>

                    <label asp-for="Title2">Title2</label>
                    <input class="form-control" asp-for="Title2" placeholder="Enter Slider Title2">
                    <span class="text-danger" asp-validation-for="Title2"></span>

                    <label asp-for="Desc">Desc</label>
                    <input class="form-control" asp-for="Desc" placeholder="Enter Slider Desc">
                    <span class="text-danger" asp-validation-for="Desc"></span>

                    <label asp-for="ImageFile">ImageFile</label>
                    <input class="form-control" asp-for="ImageFile" placeholder="Enter Slider ImageFile">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>

                    <label asp-for="BtnText">BtnText</label>
                    <input class="form-control" asp-for="BtnText" placeholder="Enter Slider BtnText">
                    <span class="text-danger" asp-validation-for="BtnText"></span>

                    <label asp-for="RedirectUrl">RedirectUrl</label>
                    <input class="form-control" asp-for="RedirectUrl" placeholder="Enter Slider RedirectUrl">
                    <span class="text-danger" asp-validation-for="RedirectUrl"></span>

                    <label asp-for="Order">Order</label>
                    <input min="0" class="form-control" asp-for="Order" placeholder="Enter Slider Order">
                    <span class="text-danger" asp-validation-for="Order"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationPartialView")
}
